<%- include("partials/header") %>

<main>
    <div class="layout-padding">
        <h1 class="header-margin-top header-font-size"><%= title %></h1>
        
        <p class="description-font-size gray-text">Explore the different areas where you can volunteer and make a meaningful impact in your community.</p>

        <div class="categories-container">
            <% categories.forEach(category => { %>
                <div class="category-card card card-details">
                    <h2><%= category.name %></h2>
                </div>
            <% }); %>
        </div>
    </div>
</main>

<%- include("partials/footer") %>