<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/images/cse340-service-network.svg" type="image/svg+xml" sizes="any">
    <link rel="icon" href="/images/cse340-service-network.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content layout-padding">
            <div class="logo">
                <img class="invert-white" src="/images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
            </div>
            <button id="nav-btn" class="hamburger" aria-label="Menu button"></button>
            <nav class="navigation">
                <div class="nav-inner">
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/organizations">Organizations</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/categories">Categories</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>